/*
theme based on emacs tango-dark
(find-file "/usr/local/share/emacs/29.0.50/etc/themes/tango-dark-theme.el")
*/

html {
    height: auto;
    min-height:100%;
    margin: 50px;
    margin-bottom: 100px;
    padding-top: 10px;
    background-image : linear-gradient(rgb(0,0,255,0.5), white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 820;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(255,255, 255, 1);
    box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.75);
    background-color: #2e3436;
}

/* navbar from w3schools */
ul {
    list-style-type: none;
    margin: 0 auto;
    display: table;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    background-color: #2e3436;
}

@media screen and (min-width: 601px) and (max-width: 1000px){
    li {
	float: left;
	border-right: 1px solid #bbb;
	font-size: 2vw;
    }
}

@media screen and (min-width: 1000px) {
    li {
	float: left;
	border-right: 1px solid #bbb;
	font-size: 1.6vw;
    }
}

@media screen and (max-width: 400px) {
    li {
	float: none;
	font-size: 5vw;
    }
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    background-color: #111;
}
/* end navbar */

h1 {
    padding-top: 10px;
    text-align: center;
    color: #73d216;
}

h2 {
    text-align: center;
    color: #73d216;
}

h3 {
    padding-left: 40px;
}

h4 {
    padding-left: 40px;
}

#welcome {
    color: #fce94f;
}

p {
    padding-left: 40px;
    padding-right: 40px;
    color: #FFFFFF;
    font-size: 16px;
}

.entry {
    color: #e090d7;
}

.doi {
    color: #FFFFFF;
}

.sub {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

p a {
    text-decoration: none;
    color: #fce94f;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}

.code {
    font-family: "Lucida Console", Courier, monospace;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #DFDFDF;
    margin-left: 50px;
    margin-right: 50px;
    border: 10px;
}

.org-src-container {
    font-family: "Lucida Console", Courier, monospace;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #DFDFDF;
    margin-left: 50px;
    margin-right: 50px;
    border: 10px;
}

.MathJax_Display {
    color: white;
}

.MJX-TEX {
    color: white;
}

.figure {
    text-align: center;
}

footer {
    text-align: center;
    color: black;
    margin-top: 50px;
    max-width: 820;
    margin-left: auto;
    margin-right: auto;
}

pre {
    font-size: 14px;
}
