body {
	font-family: Roboto;
}

h1 { 
	text-align: center;
}

.main {
	width: 40%;
	padding: 15px;
	text-align: center;
	float: right;
	margin-right: 100px;
	margin-top: 40px;
}

.headshot {
	border: solid black 2px;
	border-radius: 10px;
}

.publications {
	width: 100%;
}

.publications h1 {
	margin-top: 35px;
	font-size: 22px;
	text-align: left;
}

.publications ul li {
	text-align: left;
}

.publications ul li p {
	padding-left: 10px;
}

.main p {
	margin: 15px;
	text-align: left;
}

.spring-18 {
	width: 25%;
	border: solid black 1px;
	display: inline-block;
}

.fall-18 {
	width: 25%;
	border: solid black 1px;
}

.course {
	padding-left: 15px;

}

.course p {
	padding-left: 15px;
}

