body {
	font-family: Roboto;
}

h1 { 
	text-align: center;
}

.main {
	width: 50%;
	border: solid black 1px;
}

.spring-18 {
	width: 40%;
	border: solid black 1px;
	display: inline-block;
}

.fall-18 {
	width: 40%;
	border: solid black 1px;
}

.course {
	padding-left: 15px;

}

.course p {
	padding-left: 15px;
}
.publications {
	width: 50%;
	border: solid black 1px;
}
